body,h1,h2,h3,h4,h5,h6,a {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
}

body hr {
  width: 60%;
  height: 2px;
  color: #E2E2E2;
  background-color: #E2E2E2;
  border: solid #E2E2E2 0px;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    body hr {
      width: 60%;
      height: 2px;
      color: #E2E2E2;
      background-color: #E2E2E2;
      border: solid #E2E2E2 0px;
    }
}

@media screen and (min-width: 600px) {
    body div div p {
    text-align: left;
    padding-left: 400px;
    }
}
