body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}

footer{
	position: fixed;
	bottom: 0;
  background-color: #5E5E5E;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

@media (max-height:900px){
	footer { position: static; }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    body div img {
      height: 300px;
      width: 300px;
    }
}
