body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    body div img {
      height: 300px;
      width: 300px;
    }
}
