body,h1,h2,h3,h4,h5,h6,a,p {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    body div img {
      height: 250px;
      width: 400px;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  body div form {
      padding-left: 280px;
    }
}

@media screen and (min-width: 600px) {
  body div form {
      padding-left: 400px;
    }
}
